alembic
asgiref
Babel
bcrypt
blinker
certifi
charset-normalizer
click
confuse
Flask
Flask-Admin
flask-babel
Flask-CKEditor
Flask-Classful
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
greenlet
idna
isort
itsdangerous
Jinja2
Mako
MarkupSafe
pydantic
PyJWT
python-dotenv
pytz
PyYAML
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms
