<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Vladislav Fadeev|Backend developer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="My personal page, were you can get to know me and see my projects">
  <meta name="keywords" content="python developer, backend, django developer, бекэнд разработчик, программист, python разработчик">
  <link rel="stylesheet" href="{{ url_for('public.static', filename='assets/css/main.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/smartphoto@1.1.0/css/smartphoto.min.css">
</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="{{ url_for('public.static', filename='assets/img/logo.png') }}" alt="Global">
    <p>Fadeev Vladislav|Backend developer</p>
  </a>
  <p class="device-notification--message">Вынужден попросить вас использовать ваше устройство в портретном режиме или выбрать экран большего размера.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container">
    <div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <div class="logo-wrap">
              <a href="" class="logo">FV<span class="flsh">A</span></a>
          </div>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <li><span>About</span></li>
            <li><span>Works</span></li>
            <li><span>Contacts</span></li>
            <li><span>Feedback</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>Привет!<br>Меня зовут Влад<br>Я Backend Developer</h1>
                <button class="cta">обо мне
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>Рассказал подробнее<br>о себе ниже</h2>
                <a href="static/public/FVA_resume.pdf" style="text-decoration:underline; font-size: 20px; background-color: rgba(0, 0, 0, 0.611);">Получить резюме</a>
                <div class="about--options">
                  {% for item in info_items %}
                    <button class="md-trigger" data-modal="about-{{ item.id }}">
                      <h3>{{ item.title }}</h3>
                    </button>
                  {% endfor %}
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="work">
              <h2>Реализованные проекты</h2>
              <div class="work--lockup">
                <ul class="slider">
                  {% for item in works_items %}
                    {% if loop.last %}
                      <li class="slider--item slider--item-left">
                    {% elif loop.index == 1 %}
                      <li class="slider--item slider--item-center">
                    {% elif loop.index == 2 %}
                      <li class="slider--item slider--item-right">
                    {% else %}
                      <li class="slider--item">
                    {% endif %}
                        <button class="md-trigger" data-modal="works-{{ item.id }}">
                          <div class="slider--item-image">
                            <img src="{{ item.title_image }}" alt="Victory">
                          </div>
                          <p class="slider--item-title">{{ item.title|safe }}</p>
                          <p class="slider--item-description">{{ item.short_description|safe }}</p>
                        </button>
                      </li>
                  {% endfor %}
                </ul>
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="contact">
              <div class="contact--lockup">
                <div class="modal">
                  <div class="modal--information">
                    <h3><span>&#9735;</span> CONTACTS</h3>
                    {% for location in location_items %}
                      {{ location.location|safe }}
                    {% endfor %}
                  </div>
                  <ul class="modal--options">
                    {% for social in social_items %}
                      <li><a href="{{ social.link }}" target="_blank">{{ social.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="hire">
              <h2>Написать мне в telegram</h2>
              <!-- checkout formspree.io for easy form setup -->
              <div class="work-request--information">
                <form class="work-request" id="feedback-form">
                  <div style="display: block; width: 400px; max-width: 90%;">
                    <div class="information-name">
                      <input id="name" name="name" type="text" required spellcheck="false">
                      <label for="name">Имя</label>
                    </div>
                    <div class="information-email">
                      <input id="contact" name="contact" type="text" required spellcheck="false">
                      <label for="contact">Ваш контакт</label>
                    </div>
                    <div class="information-msg">
                      <textarea class="input-field" name="message" required id="message" spellcheck="false"></textarea>
                      <label for="message">Сообщение</label>
                    </div>
                  </div>
                  <!-- <input class="submit-spinner submit-spinner_hide" type="submit" value="Отправить"> -->
                  <button id="feedback-submit">
                    <span class="submit-spinner submit-spinner_hide" id="submit-spinner"></span>Отправить</button>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- about me modal window -->
    {% for item in info_items %}
    <div class="md-modal md-effect-12" id="about-{{ item.id }}">
      <div class="md-content">
        <button class="md-close">Закрыть</button>
          <h3>{{ item.title }}</h3>
          <div>
            {{ item.description|safe }}
          </div>
      </div>
    </div>
    {% endfor %}
    <!-- end about me modal window -->

    <!-- my works modal window -->
    {% for item in works_items %}
    {% set attach_img = works_attach_img[item.id] %}
    <div class="md-modal md-effect-12" id="works-{{ item.id }}">
      <div class="md-content">
        <button class="md-close">Закрыть</button>
          <h3>{{ item.title }}</h3>
          <div>
            {{ item.description|safe }}
            <div class="attach-image" style="overflow-y: scroll; white-space: nowrap; margin-top: 60px;">
            {% for img in attach_img %}
              <a href="{{ img }}" class="js-smartPhoto" style="text-decoration: none;" data-group="works-{{ item.id }}">
                <img src="{{ img }}" style="height: 150px; width: auto;">
              </a>
            {% endfor %}
            </div>
          </div>
      </div>
    </div>
    {% endfor %}
    <!-- end my works modal window -->
    <div class="md-overlay"></div>

  </div>
  <ul class="outer-nav">
    <li class="is-active">Главная</li>
    <li>Обо мне</li>
    <li>Проекты</li>
    <li>Контакты</li>
    <li>Feedback</li>
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write(`<script src="{{ url_for('static', filename='assets/js/vendor/jquery-2.2.4.min.js') }}"><\/script>`)</script>
<script src="{{ url_for('public.static', filename='assets/js/functions.js') }}"></script>
<script src="{{ url_for('public.static', filename='assets/js/vendor/hammer-2.0.8.js') }}"></script>
<script src="{{ url_for('public.static', filename='assets/js/smartphoto.min.js') }}"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");

  ym(95341232, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true,
       webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/95341232" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
